#container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#regionWiseCountry{
    width: 110px;
    height: 50px;
    background-color: #008CBA;
    color: white;
}
#allCountryInfo{
    display: flex;
    flex-direction: column;
}
li{
    list-style-type: none;
    margin: 1rem 0;
    color: rgb(50, 90,70);
    font-weight: 700;
}

#continentCountry{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
